<!-- LOGO -->
<div class="rounded float-end mx-5 my-5">
    <img src="/assets/logo.png" class="img-thumbnail">
</div>

<!-- MISIÓN -->
<div>
    <h1>Misión</h1>
    <p class="lead">
        Gestionar recursos e información, facilitando el acceso y difusión a distintas fuentes de indagación a toda nuestra comunidad educatica, así como apoyar la conexión en la selección de datos, de los objetivos de la institución con la práctica de valores
        humanos, logrando desarrollar estudiantes alegres, solidarios, proactivos, íntegros, con enorme calidad humana, líderes de sus acciones para la construcción de una mejor sociedad en beneficio de la humanidad.
    </p>
</div>

<br>

<!-- VISIÓN -->
<div>
    <h1>Visión</h1>
    <p class="lead">
        Ser una biblioteca referente para la información e investigación para nuestros alumnos, de forma dinámica y actualizada, acorde a las actividades relacionadas a la educación dentro del colegio, proporcionando a nuestros estudiantes instrumentos variados
        que faciliten el acceso, indagación y recuperación de la información acorde al avance de la tecnología.
    </p>
</div>
