<div>
    <h1>Revistas</h1>
</div>

<div class="my-2">
    <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#agregarRevista"><i class="bi bi-journal-plus"></i> Agregar revista</button>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Autor</th>
            <th scope="col">Título</th>
            <th scope="col">Edición</th>
            <th scope="col">Descripción</th>
            <th scope="col">Frecuencia actual</th>
            <th scope="col">Ejemplares</th>
            <th scope="col">Temas</th>
            <th scope="col">Palabras clave</th>
            <th scope="col">Copias</th>
            <th scope="col">Disponibles</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#verRevista"><i class="bi bi-eye-fill"></i> Ver</button>
                    <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#editarRevista"><i class="bi bi-pencil-square"></i> Editar</button>
                    <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#eliminarRevista"><i class="bi bi-trash-fill"></i> Eliminar</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<!-- MODAL AGREGAR REVISTA -->
<div class="modal fade" id="agregarRevista" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar revista</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success">Guardar</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL VER REVISTA -->
<div class="modal fade" id="verRevista" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ver revista</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<!-- MODAL EDITAR REVISTA -->
<div class="modal fade" id="editarRevista" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar revista</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success">Guardar cambios</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL ELIMINAR REVISTA -->
<div class="modal fade" id="eliminarRevista" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eliminar revista</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
